
.cursor{

    height: 32px;
    width: 32px;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    pointer-events: none;

}

.cursor-default{
    border-radius: 50%;
    background-color: #fffcfc;

    border: 3px solid 252525;

    width: 16px;
    height: 16px;

    transition: transform .2s ease-in;
}

.cursor-default-pointer{

    border-radius: 50%;
    background-color: #fffcfc;
    border: 3px solid 252525;

    width: 16px;
    height: 16px;

    transform: scale(1.5);
    transition: transform .2s ease-out;
}

.cursor-meg{
    background: url('../../resources/images/cursor/staff-meg.png') center center/ cover no-repeat;
}

.cursor-meg-pointer{
    background: url('../../resources/images/cursor/staff-meg-active.png') center center/ cover no-repeat;
    transform: rotate(-20deg);
}