#meg-100{
    background: url('../../resources/images/rest/meg-100.jpg') no-repeat center center/cover;
}

#meg-300{
    background: url('../../resources/images/rest/meg-300.jpg') no-repeat center center/cover;
}

#meg-500{
    background: url('../../resources/images/rest/meg-500.jpg') no-repeat center center/cover;
}

#meg-800{
    background: url('../../resources/images/rest/meg-800.jpg') no-repeat center center/cover;
}

#meg-1000{
    background: url('../../resources/images/rest/meg-1000.jpg') no-repeat center center/cover;
}

#kaz-100{
    background: url('../../resources/images/rest/kaz-100.jpg') no-repeat center center/cover;
}

#kaz-300{
    background: url('../../resources/images/rest/kaz-300.jpg') no-repeat center center/cover;
}

#kaz-500{
    background: url('../../resources/images/rest/kaz-500.jpg') no-repeat center center/cover;
}

#kaz-800{
    background: url('../../resources/images/rest/kaz-800.jpg') no-repeat center center/cover;
}

#kaz-1000{
    background: url('../../resources/images/rest/kaz-1000.jpg') no-repeat center center/cover;
}

#dark-100{
    background: url('../../resources/images/rest/dark-100.png') no-repeat center center/cover;
}

#dark-300{
    background: url('../../resources/images/rest/dark-300.png') no-repeat center center/cover;
}

#dark-500{
    background: url('../../resources/images/rest/dark-500.png') no-repeat center center/cover;
}

#dark-800{
    background: url('../../resources/images/rest/dark-800.png') no-repeat center center/cover;
}

#dark-1000{
    background: url('../../resources/images/rest/dark-1000.png') no-repeat center center/cover;
}



.hero-achiev{

    height: 100%;
    width: 320px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__list{

        list-style: none;

        display: grid;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
        gap: 10px;

        &__item{

            position: relative;

            &__use-panel{

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background-color: rgba($color: #000000, $alpha: .7);

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                &__door-loock{

                    width: 25%;
                    height: 25%;

                    background: url('../../resources/images/rest/doorLoock.svg') no-repeat center center/cover;
                    background-size: 70%;
                }

                &__play{

                    width: 35%;
                    height: 35%;

                    background: url('../../resources/images/rest/play-btn.svg') no-repeat center center/cover;
                    background-size: 100%;
                }
            }

            &__images{

                width: 150px;
                height: 150px;

                &__img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.hero-achiev-mobile--meg{
    background-color: rgba($color: #a92c13, $alpha: .9);
}

.hero-achiev-mobile--kaz{
    background-color: rgba($color: #1698d4, $alpha: .9);   
}

.hero-achiev-mobile--dark{
    background-color: rgba($color: #f6ea07, $alpha: .9);   
}

.hero-achiev-mobile{

    width: 100%;

    display: block;
    justify-content: none;
    align-items: none;

    &__list{
        width: 80%;
        height: 80%;

        position: relative;
        top: 50%;
        left: 50%;

        grid-template: repeat(2, 33.33%)/repeat(2, 50%);
        transform: translate(-50%, -50%);
        
        &__item{
            &__images{

                width: 100%;
                height: 100%;
            }

            &__use-panel{

                &__door-loock{

                    width: 55%;
                    height: 55%;

                    background: url('../../resources/images/rest/doorLoock.svg') no-repeat center center/cover;
                    background-size: 40%;
                }

                &__play{

                    width: 35%;
                    height: 35%;

                    background: url('../../resources/images/rest/play-btn.svg') no-repeat center center/cover;
                    background-size: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .hero-achiev-mobile__list__list{
        width: 90%;
        height: 90%;

    }
} 