.preloader{
    width: 100%;
    height: 100vh;

    background-color: #EA8E39;
    
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    color: #fff;

    z-index: 999;

    pointer-events: none;

    &__text{

        font-weight: 900;
        font-size: 40px;

        margin-bottom: 10px;

        user-select: none;

        opacity: 0;
    }

    &__text:last-child{
        margin: 0;
    }
}