@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    cursor: none;
}

.wrapper{
    min-height: 100vh;
    min-width: 100%;

    font-family: 'Montserrat';

    position: relative;
}

.cursor{

    height: 32px;
    width: 32px;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    pointer-events: none;

}

.cursor-default{
    border-radius: 50%;
    border: 1px solid #252525;

    width: 16px;
    height: 16px;

    transition: transform .2s ease-in;
}

.cursor-default-pointer{

    border-radius: 50%;
    border: 1px solid rgb(37, 37, 37);

    width: 16px;
    height: 16px;

    transform: scale(1.5);
    transition: transform .2s ease-out;
}

.cursor-meg{
    background: url('./resources/images/cursor/staff-meg.png') center center/ cover no-repeat;
}

.cursor-meg-pointer{
    background: url('./resources/images/cursor/staff-meg-active.png') center center/ cover no-repeat;
    transform: rotate(-20deg);
}