#meg-btn{
    background: url('../../resources/images/btn/meg.png') no-repeat center center/cover;
}

#sidebar-meg{
    .sidebar-scale__line{
        background-color: #d43916;

        &__img{
            background: url('../../resources/images/rest/head-cat-meg.png') no-repeat center center/cover;
        }
    }
}

.card{
    width: 95%;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    align-items: center;

    &__main-content{

        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        position: relative;
    }

    &__btn-exit{

        position: absolute;
        top: 10%;
        right: 10%;

        width: 36px;
        height: 36px;

        cursor: pointer;
        
        &__left, &__right{

            position: absolute;
            top: 0;
            right: 0;

            width: 2px;
            height: 35px;
            background-color: black;
        }
    }

    &__text{
        font-size: 24px;
    }

    &__btn-hero{
        width: 500px;
        height: 500px;

        cursor: pointer;
    }
}

.sidebar{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;

    position: relative;
    
}

.sidebar-scale{

    position: relative;

    width: 300px;
    height: 15px;

    border: 1px solid gray;

    &__line{

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transform-origin: left;
        transform: scaleX(1);

        &__img{

            position:absolute;
            top: -15px;
            right: -15px;

            width: 40px;
            height: 40px;

            border: 0;
        }
    }

    &__count{

        position: absolute;
        top: 20px;
        left: 0;

        font-weight: 600;
    }

}

.list-hero{
    width: 300px;

}

@media screen and (max-width: 600px) {
    .card__btn-hero{
        width: 280px;
        height: 280px;
    }
}