#meg-btn{
    background: url('../../resources/images/btn/meg.png') no-repeat center center/cover;
}

#kaz-btn{
    background: url('../../resources/images/btn/kaz.png') no-repeat center center/cover;
    background-size: 70%;
}

#dark-btn{
    background: url('../../resources/images/btn/dark.png') no-repeat center center/cover;
}


#sidebar-meg{

    .sidebar-scale__indicator__line--show{
        background-color: #d43916;   
    }

    .sidebar-scale__indicator__line__img{
        background: url('../../resources/images/rest/head-cat-meg.png') no-repeat center center/cover;
    }
}

#sidebar-kaz{

    .sidebar-scale__indicator__line--show{
        background-color: #1698d4;   
    }

    .sidebar-scale__indicator__line__img{

        width: 40px;
        height: 40px;


        background: url('../../resources/images/rest/akva-for-kaz.png') no-repeat center center/cover;
    }
}

#sidebar-dark{

    .sidebar-scale__indicator__line--show{
        background-color: #f6ea07;   
    }

    .sidebar-scale__indicator__line__img{

        width: 40px;
        height: 40px;


        background: url('../../resources/images/rest/haed-demon.png') no-repeat center center/cover;
    }
}

.card{
    width: 95%;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    align-items: center;

    &__main-content{

        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        position: relative;
    }

    &__btn-exit{

        position: absolute;
        top: 10%;
        right: 10%;

        width: 36px;
        height: 36px;

        cursor: pointer;
        
        &__left, &__right{

            position: absolute;
            top: 0;
            right: 0;

            width: 2px;
            height: 35px;
            background-color: black;
        }
    }

    &__text{
        font-size: 24px;
    }

    &__btn-hero{
        width: 500px;
        height: 500px;

        cursor: pointer;
    }
}

.sidebar{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;

    position: relative;
    
}

.sidebar-scale{

    position: relative;

    width: 300px;
    height: 15px;

    &__indicator{

        position: absolute;
        top: -100%;
        left: 0;

        width: 110%;
        height: 330%;

        overflow-x: hidden;

        &__line{

            position: absolute;
            top: 30%;
            left: 2%;
    

            width: 90%;
            height: 30%;

            border: 1px solid gray;
        }

        &__line--show{

            left: -275px;
            z-index: 99;

            .sidebar-scale__indicator__line__img{
                width: 40px;
                height: 40px;

                border: 0;

                position: absolute;
                top: -130%;
                right: -8%;

            }
        }
    }

    &__count{

        position: absolute;
        top: 20px;
        left: 5%;

        font-weight: 600;
    }

}

.list-hero{
    width: 300px;

}

@media screen and (max-width: 600px) {
    .card__btn-hero{
        width: 280px;
        height: 280px;
    }
}